[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysasl = "*"

[dev-packages]
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
